# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = tom
email = tom.g.woodward@gmail.com
[push]
	default = current
[core]
	excludesfile = /Users/tomwoodward/.gitignore_global
